<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A propos</title>
</head>
<body>
    <h1>A Propos</h1>
    <p>
        Ce site est un site me servant a apprendre a utiliser le framework Laravel.<br>
        Je tiens d'ailleur a préciser que ce site est Copyright, tout droit réservé a M_EtOuais !<br>
        Ne chercher pas a comprendre les condition general d'utilisation qui suivent, car c'est juste du blabla<br>
        random de politicien !<br>
    </p>
    <h2>Condition generale d'utilisation</h2>
    <p>
        Mesdames, messieurs, la démoralisation généraliste actuelle conforte vos revendications d'aller dans le sens
        de solutions rapides correspondant aux grands axes sociaux prioritaires.
    </p>
    <p>
        Je tiens à vous assuré que la démoralisation généraliste actuelle conforte vos revendications d'aller dans
        le sens de solutions rapides correspondant aux grands axes sociaux prioritaires.
    </p>
    <p>
        Je tiens à vous assuré que la crise actuelle doit prendre en compte les préoccupations de la population de base
        dans l'élaboration de nos compatriotes les plus démunis
    </p>
    <p> Par ailleurs, c'est en toute connaissance de cause que je peux affirmer aujourd'hui que la crise que connait
        notre pays soustrait toute vision globale d'un processus allant vers plus d'égalité.
    </p>
    <p> Je tiens à vous dire ici ma détermination sans faille pour clamer haut et fort que l'acuité des problèmes de
        la vie quotidienne doit nous amener au choix réellement impératif de solutions rapides correspondant aux
        grands axes sociaux prioritaires.
    </p>
    <p>
        Par ailleurs, c'est en toute connaissance de cause que je peux affirmer aujourd'hui que la crise que connait
        notre pays entraîne une mission somme toute des plus exaltantes pour moi :
        l'élaboration d'une valorisation sans concession de nos caractères spécifiques.
    </p>
    <p>
        J'ai depuis longtemps (ai-je besoin de vous le rappeler ?), défendu l'idée que la conjoncture actuelle
        interpelle le citoyen que je suis et nous oblige tous à aller de l'avant dans la voie d'un avenir s'orientant
        vers plus de progrès et plus de justice.
    </p>
    <p>
        La liberté ne tiens qu'à un fils et c'est pourquoi je tiens à vous dire que la conjoncture actuelle oblige à la
        prise en compte encore plus effective d'un processus allant vers plus d'égalité.
    </p>
    <p>
        Très chers compatriotes, vous le savez et je vous le redit que le surendettement de nos compatriotes entraîne
        une mission somme toute des plus exaltantes pour moi : l'élaboration d'un plan correspondant véritablement aux
        exigences légitimes de chacun.
    </p>
    <p>
        Très chers compatriotes, vous le savez et je vous le redit que la prise en compte des revendications des plus
        pauvres de notre pays oblige à la prise en compte encore plus effective d'un avenir s'orientant vers plus de
        progrès et plus de justice.
    </p>
</body>
<footer>
    <a href="/">Retour</a>
</footer>
</html>
