<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <h1>Contact</h1>
    Lieu : IUT De Lens <br>
    Tel : 06 66 66 66 66 <br>
    Mail : unknow@fakeMail.com <br>
    Reseaux sociaux
    <ul>
        <li>Linkedin : diablo-geek</li>
        <li>Twitter : loizooblheu</li>
        <li>Instagram : instantShot&Screen</li>
        <li>Youtube : noChannel</li>
        <li>TikTok : tic&tac</li>
        <li>Twitch : wishChannelZone</li>
        <li>Snapchat : leBgDuDiablOtain69</li>
        <li>Facebook : lePepeDu42</li>
    </ul>
</body>
<footer>
    <a href="/">Retour</a>
</footer>
</html>
